
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

@section ViewScript{
    <script>
    window.location = '/Errors/Error500.html';
        </script>
    }